@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  max-width: 1100px;
  margin: auto;
  padding: 0px 20px;
  /* font-family:; */
}

.menu {
  display: none;
  cursor: pointer;
}

/*mobile navigation start*/

.mobile-nav-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  height: 100vh;
  background: #fff;
  width: 100%;
  padding: 0px 30px;
  transition: opacity 0.4s ease-in-out;
  opacity: 0;
  transform: scale(0);
}

.open-mobile-nav {
  opacity: 1;
  transform: scale(1);
}

.mobile-nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
}

.mobile-nav-links {
  transition: transform 0.2s ease-in 0.2s;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  transform: translateY(800px);
}

.open-mobile-nav-links {
  transform: translateY(0px);
}

.mobile-nav-item {
  text-decoration: none;
  color: #07969e;
  font-size: 22px;
}

.modify {
  color: #2d2d2d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.mobile-dropdown {
  transition: all 0.2s ease-in-out;
  padding: 0px 30px 0px 30px;
  flex-direction: column;
  gap: 20px;
  display: flex;
  max-height: 0;
  overflow: hidden;
}

.open-dropdown {
  padding-top: 30px;
  max-height: 250px;
}

.closeIcon {
  color: #2d2d2d;
  cursor: pointer;
}

/*mobile navigation end*/

.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-item {
  color: #07969e;
  text-decoration: none;
  font-size: 16px;
  position: relative;
}

.nav-item::after {
  content: "";
  position: absolute;
  background-color: #07969e;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  bottom: -14px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

.nav-item:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  border-radius: 8px;
  padding: 25px;
  top: 150%;
  width: 200px;
  background: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.36);
  transition: all 0.5s ease-in-out;
}

.dropdown a {
  font-weight: 600;
  padding: 10px 0px;
  text-decoration: none;
  color: #07969e;
}

.active,
.active.nav-item::after {
  font-weight: 700;
  display: block;
}

/*mobile responsiveness*/

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .menu {
    display: block;
  }
}
