.footer-container {
  margin-top: 100px;
  max-width: 1100px;
  margin: auto;
  padding: 0px 20px 60px 20px;
}

.footer-links {
  display: flex;
  justify-content: space-around;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-list a {
  text-decoration: none;
  color: #2d2d2d;
}

.footer-list a div {
  display: flex;
  align-items: center;
  gap: 10px;
}
