.footer-container {
  margin-top: 100px;
  max-width: 1100px;
  margin: auto;
  padding: 0px 20px 60px 20px;
}

.footer-links {
  display: flex;
}

.footer-list-wrapper {
  flex: 1;
  display: flex;
}

.footer-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px 30px;
}

.footer-list a {
  text-decoration: none;
  color: #2d2d2d;
  font-family: "DM Sans", sans-serif;
}

.footer-list a div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-list p {
  font-weight: 600;
  font-family: "TomatoGrotesk";
}

.arrow-diagonal {
  transform: translate(0, 0);
  transition: transform 0.2s ease-in-out;
}

.footer-link-icon:hover .arrow-diagonal {
  transform: translate(5px, 15px);
}

/*mobile responsiveness*/

@media (max-width: 768px) {
  .footer-links {
    flex-direction: column;
    gap: 50px;
  }
}
