.app-ad-container {
  margin-top: 150px;
  margin-bottom: 100px;
  background: #ecfefe;
  border-radius: 50px;
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 400px;
  overflow: hidden;
}

.app-ad-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.app-ad-title {
  color: #07969e;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
}

.app-ad-heading {
  line-height: 38.4px;
  color: #2d2d2d;
  font-size: 32px;
  font-weight: 600;
  font-family: "TomatoGrotesk";
}

.app-ad-subtitle {
  color: #4a5050;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
}

.app-ad-store {
  display: flex;
  align-items: center;
  gap: 20px;
}

.app-ad-phone {
  position: relative;
  right: 50px;
  top: 80px;
  filter: drop-shadow(0px 12px 24px rgba(43, 57, 75, 0.15));
}

/*mobile responsiveness*/

@media (max-width: 768px) {
  .app-ad-container {
    flex-direction: column;
    height: 480px;
  }

  .app-ad-left {
    align-items: center;
  }

  .app-ad-right {
    align-items: center;
  }
  .app-ad-phone {
    right: 0;
    top: 48px;
  }
}

.app-ad-heading-animate {
  -webkit-animation: reveal 1.5s linear;
  -moz-animation: reveal 1.5s linear;
  -o-animation: reveal 1.5s linear;
  animation: reveal 1.5s linear;
}

.app-ad-phone-animate {
  -webkit-animation: reveal-2 1s linear;
  -moz-animation: reveal-2 1s linear;
  -o-animation: reveal-2 1s linear;
  animation: reveal-2 1s linear;
}

/*animation*/

@keyframes reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes reveal-2 {
  0% {
    top: 300px;
  }

  100% {
    top: 80px;
  }
}
