.app-ad-container {
  margin-top: 150px;
  margin-bottom: 100px;
  background: #ecfefe;
  border-radius: 50px;
  padding: 30px 20px;
  display: flex;
  align-items: center;
  position: relative;
  height: 400px;
  overflow: hidden;
}

.app-ad-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 55px;
}

.app-ad-title {
  color: #07969e;
  font-weight: 500;
}

.app-ad-heading {
  line-height: 38.4px;
  color: #2d2d2d;
  font-size: 32px;
  font-weight: 600;
}

.app-ad-subtitle {
  color: #4a5050;
  font-weight: 500;
}

.app-ad-store {
  display: flex;
  align-items: center;
  gap: 20px;
}

.app-ad-right {
  position: absolute;
  right: 80px;
  top: 30px;
}

.app-ad-phone {
  filter: drop-shadow(0px 12px 24px rgba(43, 57, 75, 0.15));
}
