@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Nunito&display=swap");

@font-face {
  font-family: "TomatoGrotesk";
  src: local("TomatoGrotesk"),
    url("./assets/fonts/tomato-grotesk/TomatoGrotesk-Regular.otf");
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  overflow-x: hidden;
}
